 <% include ../partials/header %>


 <section class="section section--register-page">

 	<div class="wrapper">

 		<div class="register text-generic">
 			<form action="/users/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
 				<div class="register__main">

 					<div class="register__main__fields">

 						<h2 class="headline-4 u-center-horizontaly u-margin-bottom-small headline--stylish-1">Edit Profile</h2>

 						<p class="register__main__info">You can change all the profile information below.</p>



 						<div class="main-contact-form__form__group">
 							<input class="main-contact-form__form__input" type="text" name="user[username]" value="<%= user.username %>" placeholder="Username">
 							<label for="register-username" class="main-contact-form__form__label">Your Username</label>
 						</div>

 						<div class="main-contact-form__form__group">
 							<input class="main-contact-form__form__input" type="email" name="user[email]" value="<%= user.email %>" placeholder="Email">
 							<label for="register-email" class="main-contact-form__form__label">Your Email</label>
 						</div>

 						<div class="main-contact-form__form__group">
 							<input class="main-contact-form__form__input" type="text" name="user[firstName]" value="<%= user.firstName %>" placeholder="First Name">
 							<label for="register-firstName" class="main-contact-form__form__label">Your First Name</label>
 						</div>

 						<div class="main-contact-form__form__group">
 							<input class="main-contact-form__form__input" type="text" name="user[lastName]" value="<%= user.lastName %>" placeholder="Last Name">
 							<label for="register-lastName" class="main-contact-form__form__label">Your Last Name</label>
 						</div>

 						<div class="main-contact-form__form__group2">
 							<textarea rows="5" class="main-contact-form__form__input" type="text" name="user[info]" value="<%= user.info %>" placeholder="Basic information about yourself."><%= user.info %></textarea>
 							<label for="register-lastName" class="main-contact-form__form__label">Basic information about yourself.</label>
 						</div>

						
 						<% if(user.isPublic == true) { %>
 						<div class="register__radio__group">
 							<label class="main-contact-form__form__radio__container">Public
 								<input type="radio" checked name="user[isPublic]" value="true">
 								<span class="main-contact-form__form__radio__checkmark"></span>
 							</label>
 							<label class="main-contact-form__form__radio__container">Private
 								<input type="radio" name="user[isPublic]" value="false">
 								<span class="main-contact-form__form__radio__checkmark"></span>
 							</label>
 						</div>

 						<% } %>

 						<% if(user.isPublic == false) { %>
 						<div class="register__radio__group">
 							<label class="main-contact-form__form__radio__container">Public
 								<input type="radio" checked name="user[isPublic]" value="true">
 								<span class="main-contact-form__form__radio__checkmark"></span>
 							</label>
 							<label class="main-contact-form__form__radio__container">Private
 								<input type="radio" name="user[isPublic]" value="false">
 								<span class="main-contact-form__form__radio__checkmark"></span>
 							</label>
 						</div>
 						<% } %>

 						<label for="register-lastName" class="main-contact-form__form__label">Profile Visibility Settings</label>

 						<p class="register__main__upload__signup u-margin-top-xsmall">Want to reset your password? <span class="strong--color-one"><a href="/reset">Click here</a></span></p>
 						

 						

 					</div>
 					<div class="register__main__upload">
 						<div class="register__main__upload__image--edit">
 							<img src="<%= user.image %>" alt="User Image">
 						</div>
 						<div class="main-contact-form__form__group register__main__upload__group">
 							<input class="register__main__upload__image__input" type="file" id="image" name="image" accept="image/*">
 							<label class="register__main__upload__image__label" for="image">Edit Photo</label>
 						</div>
 						<p class="register__main__upload__text">Suggested aspect ratio is 1:1.</p>
 						<p class="register__main__upload__text">Your image will be scaled and cropped to W:400px H:400px after signing up.</p>
 						<p class="register__main__upload__text">The image you upload will be <strong>publicly</strong> availible in your profile.</p>
 					</div>
 				</div>
 				<div class="register__main__upload__footer">
 					<button class="btn btn--main btn--full-width register__main__upload__btn">Edit Profile</button>
 					
 				</div>
 			</form>
 		</div>

 	</div>

 </section>

 <% include ../partials/footer %>