 <% include ../partials/header %>


 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 <div class="wrapper">
 	<h1>Show User Page</h1>

 	<img src="<%= user.avatar %>" alt="user profile image">
 	<h2><%= user.username %></h2>
 	<p><%= user.firstName %></p>
 	<p><%= user.lastName %></p>
 	<p><%= user.info %></p>
 	<p><a href="mailto:<%= user.email %>"><%= user.email %></a></p>
 	<p><%= user._id %></p>
 	<p><%= user.createdAt %></p>
 	<% if(user.isAdmin == 1) { %>
 	<p><%= user.username %> is <strong>Admin</strong></p>
 	<% } %>
 	<p><%= user.isOnline %> <strong> : IS ONLINE STATUS</strong></p>

 	<a class="comment__edit-btn" href="/users/<%= user._id %>/edit">Edit</a>
 <form class="comment__delete-btn" action="/users/<%= user._id %>?_method=DELETE" method="POST">
 	<input type="submit" value="Delete">
 </form>
 </div>


 <% include ../partials/footer %>