 <% var pageTitle = user.username + " profile page" %>
 <% var pageDescription = "Profile page for " + user.username + ". Here you can view all the profile information for this user and update it if you are the owner of this profile."%>
 <% var pageKeywords = "Username, Profile, Profile page, Account, ID, Profile information, User, First name, Last name" %>

 <% include ../partials/header %>







 <section id="profile" class="section section--profile">

 	<div class="profile">

 		<div class="wrapper">

 			<div class="profile__header">
 				<div class="profile__title heading">Hi <%= user.username %>!</div>
 				<% if(user.isAdmin) { %>
 				<div class="profile__role">Role: <span>Admin</span></div>
 				<% } else { %>
 				<div class="profile__role">Role: <span>User</span></div>
 				<% } %>
 				<div class="profile__status">


 					<div class="profile__online">
 						Status:
 						<% if(user.isOnline) {%>
 						<span class="profile__indicator online"></span><span class="profile__status">Online</span>
 						<% } %>
 						<% if(!user.isOnline) {%>
 						<span class="profile__indicator offline"></span><span class="profile__status">Offline</span>
 						<% } %>
 					</div>

 				</div>
 				<% if (user.isPublic) { %>
 				<div class="profile__visibility">Visibility: Public</div>
 				<% } else { %>
 				<div class="profile__visibility">Visibility: Private</div>
 				<% } %>
 			</div>

 			<% if(user.isPublic || currentUser && currentUser.isAdmin || currentUser && currentUser._id.equals(user._id)) { %>
 			<div class="profile__content">
 				<div class="profile__info">
					 <h3 class="heading__subtitle u-margin-bottom-small">Basic Info</h3>
 					<ul class="profile__info__items text">
 						<li class="profile__info__item">
 							<div class="profile__info__item__title">First Name</div>
 							<div class="profile__info__item__description"><%= user.firstName %></div>
 						</li>
 						<li class="profile__info__item">
 							<div class="profile__info__item__title">Last Name</div>
 							<div class="profile__info__item__description"><%= user.lastName %></div>
 						</li>
 						<li class="profile__info__item">
 							<div class="profile__info__item__title">E-mail</div>
 							<div class="profile__info__item__description"><a
 									href="mailto:<%=user.email%>"><%= user.email %></a></div>
 						</li>
 						<li class="profile__info__item">
 							<div class="profile__info__item__title">Profile Created</div>
 							<div class="profile__info__item__description">
 								<%= user.createdAt.getDate() + "." + user.createdAt.getMonth() + "." + user.createdAt.getFullYear()  %>
 							</div>
 						</li>
 						<li class="profile__info__item">
 							<div class="profile__info__item__title">Profile ID</div>
 							<div class="profile__info__item__description"><%= user._id %></div>
 						</li>
 					</ul>
 					<div class="profile__info__item__title text">Description</div>
 					<p class="text">
						<% if(user.info) { %>
						 <%= user.info %>
						<% } else { %>
							<span class="profile__info__item__placeholder-text">Enter profile description here in the 'Edit Profile' page...</span>
						<% } %>
 					</p>






 				</div>
 				<div class="profile__image">
 					<div class="profile__image__content">

 						<% if(user.image) { %>
 						<img src="<%= user.image %>" alt="Profile Image">
 						<% } else { %>
 						<img src="/assets/images/placeholder-image.png" alt="Similar project">
 						<% } %>



 						<div class="profile__image__add">
							<% if(currentUser && currentUser.isAdmin || currentUser && currentUser._id.equals(user._id)) { %>
 							<form action="/users/<%= user._id %>?_method=PUT" method="POST"
 								enctype="multipart/form-data">
 								<label class="profile__image__label" for="image">
 									<div class="profile__image__label__img"></div>
 								</label>
 								<input onchange="form.submit()" class="profile__image__input" type="file" id="image"
 									name="image" accept="image/*">
 							</form>
							 <% } %>
 						</div>
 					</div>
 				</div>
 			</div>



 			<% } else { %>
 			<div class="text"> This profile is set to private and user information is hidden</div>
 			<% } %>

 			<div class="profile__footer">
				<% if(currentUser && currentUser.isAdmin || currentUser && currentUser._id.equals(user._id)) { %>
 				<div class="profile__buttons">
 					<a href="/users/<%= user._id %>/edit" class="btn">Edit Profile</a>
 					<input class="btn btn--small btn--danger profile__delete__button" type="submit"
 						value="Delete Profile">
 				</div>
				 <% } %>


 				<% if(currentUser && currentUser.isAdmin || currentUser && currentUser._id.equals(user._id)) { %>
 				<% if (user.isPublic) { %>
 				<p class="text text--xsmall u-margin-top-small">If you wish to make your profile private you can do it
 					via the “edit
 					profile” page.</p>
 				<% } %>
 				<% if (!user.isPublic) { %>
 				<p class="text text--xsmall u-margin-top-small">If you wish to make your profile public you can do it
 					via the “edit
 					profile” page.</p>
 				<% } %>
 				<% } %>




 			</div>

 		</div>
 	</div>

 </section>


 <div class="warning">
	<div class="warning__container">
		<div class="warning__icon">
			<div class="warning__icon__image">

			</div>
		</div>
		<div class="warning__info">
			<div class="warning__title">Are you sure?</div>
			<div class="warning__text">You will not be able to recover your account.</div>
			<div class="warning__button">
				<input class="btn btn--small warning__button--cancel" type="submit" value="Cancel">
				<form class="profile__delete" action="/users/<%= user._id %>?_method=DELETE" method="POST">
					<input class="btn btn--danger warning__button--submit" type="submit" value="Delete">
				</form>
			</div>
		</div>
	</div>
</div>



 <% include ../partials/footer %>