<h1>Edit <%= project.name %></h1>

<form action="/portfolio/<%= project._id %>?_method=PUT" method="POST">
	<input type="text" name="project[name]" value="<%= project.name %>">
	<input type="text" name="project[image]" value="<%= project.image %>">
	<input type="text" name="project[description]" value="<%= project.description %>">
	<input type="text" name="project[category]" value="<%= project.category %>">
	<input type="text" name="project[date]" value="<%= project.date %>">
	<input type="text" name="project[year]" value="<%= project.year %>">




	<% var k1 = project.techAll.filter(element => !project.tech.includes(element)) %>
	

	<% k1.forEach(function(k){  %>
	<div class="checkbox">
	<label><input name="project[tech]" type="checkbox" value="<%= k %>"><%= k %></label>
	</div>

   <% }); %>


	


	<br><br><br><br><br>

	<% project.tech.forEach(function(techEach){ %>

	<div class="checkbox">
		<label><input name="project[tech]" type="checkbox" value="<%= techEach %>" checked><%= techEach %></label>
	</div>

	
	<% }); %>
	

    <!-- <div class="checkbox">
        <label><input name="tech" type="checkbox" value="meat">Meat</label>
    </div>
    <div class="checkbox">
        <label><input name="tech" type="checkbox" value="fish">Fish</label>
    </div> -->


    <button>Submit</button>
</form>

<a href="/portfolio">View Portfolio</a>