<% include ../partials/header %>


<section class="section section--portfolio">
	<div class="portfolio">
		<div class="portfolio__container">
			<header class="portfolio__header">
				<div class="portfolio__header__search">Search</div>
				<div class="portfolio__header__features">
					<div class="portfolio__header__grid portfolio__header__grid--is-active">
						<div class="portfolio__header__grid__img"></div>
					</div>
					<div class="portfolio__header__list">
						<div class="portfolio__header__list__img"></div>
					</div>
				</div>
			</header>
			<div class="portfolio__content">
				<nav class="portfolio__nav">Nav<a href="/portfolio/new">New Project</a></nav>
				<div class="portfolio__main">
					<ul class="portfolio__main__group">
						<% projects.forEach(function(project){ %>
						<li class="portfolio__item">
							<div class="portfolio__item__category"><%= project.category %></div>
							<div class="portfolio__item__image">
								<img src="<%= project.image %>" alt="test">
							</div>
							<div class="portfolio__item__info">
								<div class="portfolio__item__title"><%= project.name %> </div>
								<div class="portfolio__item__description"><%= project.description %> </div>
							</div>
							<div class="portfolio__item__footer">
								<div class="portfolio__item__date"><%= project.date %></div>
								<div class="portfolio__item__comments"><span>a</span>21</div>
							</div>
						</li>
						<%  }); %>
						<li class="portfolio__item"></li>
						<li class="portfolio__item"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<% include ../partials/footer %>