 <% include ../partials/header %>

 <section class="section section--project">

 	<div class="project">
 		<div class="project__container">
 			<div class="project__main">
 				<div class="gallery">
 					<div class="gallery__main">
 						<div class="owl-carousel gallery__carousel">
 							<div class="item">
 								<img src="https://pixabay.com/get/57e8d0404e54aa14f6da8c7dda793f7f1636dfe2564c704c732679d09544cd5a_340.jpg" alt="test">
 							</div>
 							<div class="item">
 								<img src="https://pixabay.com/get/52e0dc404b53a814f6da8c7dda793f7f1636dfe2564c704c732679d09544cd5a_340.jpg" alt="test">
 							</div>
 							<div class="item">
 								<img src="https://pixabay.com/get/54e1dd424355ab14f6da8c7dda793f7f1636dfe2564c704c732679d09544cd5a_340.jpg" alt="test">
 							</div>
 						</div>

 						<div class="gallery__bookmarks">
 							<ul class="test">
 								<li class="active" data="0">
 									<img src="https://pixabay.com/get/57e8d0404e54aa14f6da8c7dda793f7f1636dfe2564c704c732679d09544cd5a_340.jpg" alt="test">
 								</li>
 								<li data="1">
 									<img src="https://pixabay.com/get/52e0dc404b53a814f6da8c7dda793f7f1636dfe2564c704c732679d09544cd5a_340.jpg" alt="test">
 								</li>
 								<li data="2">
 									<img src="https://pixabay.com/get/54e1dd424355ab14f6da8c7dda793f7f1636dfe2564c704c732679d09544cd5a_340.jpg" alt="test">
 								</li>
 							</ul>
 						</div>
 					</div>
 				</div>
 				<div class="project__main__info">
 					<h2 class="project__main__info__title">Title 1</h2>
 					<p class="project__main__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi placeat perferendis quam! Accusamus laborum adipisci, nostrum voluptatem laboriosam quam asperiores vero consequatur, suscipit perferendis tempore. Ullam veritatis illo, ab delectus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit deserunt accusantium dolorum veniam, quidem perspiciatis rem facilis, ad perferendis dolorem provident officia! Eveniet quam non velit voluptatem error soluta dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptas dolor cumque ducimus natus! Odio, eaque quos aut inventore accusamus, officia error aspernatur illum dolore laborum sit laboriosam ducimus molestias?</p>
 				</div>

 				<div class="project__main__comments">Comment Section</div>
 			</div>
 			<div class="project__side">
 				<div class="project__side__info">
 					<h1 class="project__side__info__title">Project Name</h1>
 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">More Information</div>
 						<div class="project__side__info__group__container">
 							<ul>
 								<li>CBS International</li>
 								<li>Branding</li>
 								<li>24/09/2019</li>
 							</ul>
 						</div>
 					</div>

 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">Technology</div>
 						<div class="project__side__info__group__container">
 							<ul>
 								<li>HTML / CSS</li>
 								<li>AdobePhotoshop</li>
 								<li>JavaScript</li>
 							</ul>
 						</div>
 					</div>

 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">Share</div>
 						<div class="project__side__info__group__container">
 							<ul>
 								<li>HTML / CSS</li>
 								<li>AdobePhotoshop</li>
 								<li>JavaScript</li>
 							</ul>
 						</div>
 					</div>

 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">Similar Projects</div>
 						<div class="project__side__info__group__container">
 							<ul>
 								<li>HTML / CSS</li>
 								<li>AdobePhotoshop</li>
 								<li>JavaScript</li>
 							</ul>
 						</div>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
 </div>
</div>































<h2>This is show template</h2>

<a href="/portfolio">Back to Portfolio</a>

<p><%= project.name %> </p>

<img src="<%= project.image %>" alt="test">

<p> <%= project.description %> </p>

<p><a href="/portfolio/<%= project._id %>/comments/new">ADD NEW COMMENT</a></p>

<% project.comments.forEach(function(comment){ %>

<p><strong> <%= comment.author %> </strong> - <%= comment.text %> </p>

<% }); %>

</section>

<% include ../partials/footer %>