 <% include ../partials/header %>

 <section class="section section--project">

 	<div class="project">
 		<div class="project__container">
 			<div class="project__main">
 				<div class="gallery">
 					<div class="gallery__main">
 						<div class="owl-carousel gallery__carousel">
 							<div class="item">
 								<img src="<%= project.image %>" alt="test">
 							</div>
 							<div class="item">
 								<img src="https://via.placeholder.com/1200x800" alt="test">
 							</div>
 							<div class="item">
 								<img src="https://via.placeholder.com/1200x800" alt="test">
 							</div>
 							<div class="item">
 								<img src="https://via.placeholder.com/1200x800" alt="test">
 							</div>
 							<div class="item">
 								<img src="https://via.placeholder.com/1200x800" alt="test">
 							</div>
 							<div class="item">
 								<img src="https://via.placeholder.com/1200x800" alt="test">
 							</div>
 							
 						</div>

 						<div class="gallery__bookmarks">
 							<ul class="gallery__bookmarks__group">
 								<li class="active" data="0">
 									<img src="<%= project.image %>" alt="test">
 								</li>
 								<li data="1">
 									<img src="https://via.placeholder.com/1200x800" alt="test">
 								</li>
 								<li data="2">
 									<img src="https://via.placeholder.com/1200x800" alt="test">
 								</li>
 								<li data="3">
 									<img src="https://via.placeholder.com/1200x800" alt="test">
 								</li>
 								<li data="4">
 									<img src="https://via.placeholder.com/1200x800" alt="test">
 								</li>
 								<li data="5">
 									<img src="https://via.placeholder.com/1200x800" alt="test">
 								</li>
 								
 							</ul>
 						</div>
 					</div>
 				</div>
 				<div class="project__main__info">
 					<h2 class="project__main__info__title"><%= project.name %></h2>
 					<p class="project__main__info__description"><%= project.description %></p>
 				</div>



 				<div class="project__side__info main">
 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">More Information</div>
 						<div class="project__side__info__group__container">
 							<ul class="project__side__info__more">
 								<li><span class="icon1"></span>CBS International</li>
 								<li><span class="icon2"></span><%= project.category %></li>
 								<li><span class="icon2"></span><%= project.date %></li>
 								<li><span class="icon2"></span><%= project.author.username %></li>
 							</ul>
 						</div>
 					</div>

 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">Technology</div>
 						<div class="project__side__info__group__container">
 							<ul class="project__side__info__technology">
 								<li>HTML / CSS</li>
 								<li>AdobePhotoshop</li>
 								<li>JavaScript</li>
 								<li>JavaScript</li>
 								<li>JavaScript</li>
 								<li>JavaScript</li>
 							</ul>
 						</div>
 					</div>

 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">Share</div>
 						<div class="project__side__info__group__container">
 							<ul class="project__side__info__share">
 								<!-- <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.fibula.com.mk/" target="_blank">
 								Test</a> -->
 								<li><span class="fb"></span></li>
 								<li><span class="insta"></span></li>
 								<li><span class="linkedin"></span></li>
 							</ul>
 						</div>
 					</div>

 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">Similar Projects</div>
 						<div class="project__side__info__group__container">
 							<ul class="project__side__info__similar">
 								<li class="project__similar">
 									<div class="project__similar__image">
 										<img src="https://via.placeholder.com/1200x800" alt="test">
 									</div>
 									<div class="project__similar__info">
 										<h3 class="project__similar__info__title">Project Title 1</h3>
 										<div class="project__similar__info__category">Category</div>
 									</div>
 								</li>
 								<li class="project__similar">
 									<div class="project__similar__image">
 										<img src="https://via.placeholder.com/1200x800" alt="test">
 									</div>
 									<div class="project__similar__info">
 										<h3 class="project__similar__info__title">Project Title 1</h3>
 										<div class="project__similar__info__category">Category</div>
 									</div>
 								</li>
 								<li class="project__similar">
 									<div class="project__similar__image">
 										<img src="https://via.placeholder.com/1200x800" alt="test">
 									</div>
 									<div class="project__similar__info">
 										<h3 class="project__similar__info__title">Project Title 1</h3>
 										<div class="project__similar__info__category">Category</div>
 									</div>
 								</li>
 								<li class="project__similar">
 									<div class="project__similar__image">
 										<img src="https://via.placeholder.com/1200x800" alt="test">
 									</div>
 									<div class="project__similar__info">
 										<h3 class="project__similar__info__title">Project Title 1</h3>
 										<div class="project__similar__info__category">Category</div>
 									</div>
 								</li>
 							</ul>
 						</div>
 					</div>
 				</div>




 				<div class="project__main__comments">
 					<div class="comment">
 						<div class="comment__container">
 							
 							<a href="/portfolio/<%= project._id %>/comments/new" class="comment__btn--new btn btn--main btn--small">Add a new comment</a>
 							<p class="comment__feedback">Please fell free to write a comment regarding <%= project.name %> project. Your feedback and suggestions are highly appreciated.<p>	

 							<ul class="comment__group">
 								<% project.comments.forEach(function(comment){ %>

 								<li class="comment__item">
 									<div class="comment__image">
 										<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2WRv6HhQL5-eK9Z-8VtkeAP58CzpFUz-FWfmgP3YSbiuj-J_HAw" alt="user image">
 									</div>
 									<div class="comment__info">
 										<div class="comment__info__user"><%= comment.author.username %></div>
 										<p class="comment__info__text"><%= comment.text %></p>
 										<div class="comment__info__date">25.09.2019</div>
 										<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
 										<a href="/portfolio/<%= project._id %>/comments/<%= comment._id %>/edit">Edit</a>
 										<form action="/portfolio/<%= project._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
 											<input type="submit" value="Delete">
 										</form>
 										<% } %>
 									</div>
 								</li>
 								<% }); %>
 							</ul>
 						</div>
 					</div>
 				</div>
 			</div>
 			<div class="project__side">
 				<div class="project__side__info">
 					<h1 class="project__side__info__title"><%= project.name %></h1>
 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">More Information</div>
 						<div class="project__side__info__group__container">
 							<ul class="project__side__info__more">
 								<li><span class="icon1"></span>CBS International</li>
 								<li><span class="icon2"></span><%= project.category %></li>
 								<li><span class="icon2"></span><%= project.date %></li>
 								<li><span class="icon2"></span><%= project.author.username %></li>
 							</ul>
 						</div>
 					</div>

 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">Technology</div>
 						<div class="project__side__info__group__container">
 							<ul class="project__side__info__technology">
 								<li>HTML / CSS</li>
 								<li>AdobePhotoshop</li>
 								<li>JavaScript</li>
 								<li>JavaScript</li>
 								<li>JavaScript</li>
 								<li>JavaScript</li>
 							</ul>
 						</div>
 					</div>

 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">Share</div>
 						<div class="project__side__info__group__container">
 							<ul class="project__side__info__share">
 								<!-- <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.fibula.com.mk/" target="_blank">
 								Test</a> -->
 								<li><span class="fb"></span></li>
 								<li><span class="insta"></span></li>
 								<li><span class="linkedin"></span></li>
 							</ul>
 						</div>
 					</div>

 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">Similar Projects</div>
 						<div class="project__side__info__group__container">
 							<ul class="project__side__info__similar">
 								<li class="project__similar">
 									<div class="project__similar__image">
 										<img src="https://via.placeholder.com/1200x800" alt="test">
 									</div>
 									<div class="project__similar__info">
 										<h3 class="project__similar__info__title">Project Title 1</h3>
 										<div class="project__similar__info__category">Category</div>
 									</div>
 								</li>
 								<li class="project__similar">
 									<div class="project__similar__image">
 										<img src="https://via.placeholder.com/1200x800" alt="test">
 									</div>
 									<div class="project__similar__info">
 										<h3 class="project__similar__info__title">Project Title 1</h3>
 										<div class="project__similar__info__category">Category</div>
 									</div>
 								</li>
 								<li class="project__similar">
 									<div class="project__similar__image">
 										<img src="https://via.placeholder.com/1200x800" alt="test">
 									</div>
 									<div class="project__similar__info">
 										<h3 class="project__similar__info__title">Project Title 1</h3>
 										<div class="project__similar__info__category">Category</div>
 									</div>
 								</li>
 								<li class="project__similar">
 									<div class="project__similar__image">
 										<img src="https://via.placeholder.com/1200x800" alt="test">
 									</div>
 									<div class="project__similar__info">
 										<h3 class="project__similar__info__title">Project Title 1</h3>
 										<div class="project__similar__info__category">Category</div>
 									</div>
 								</li>
 							</ul>
 						</div>
 					</div>
 					<% if(currentUser && project.author.id.equals(currentUser._id)) { %>
 					<a href="/portfolio/<%= project._id %>/edit">Edit</a>
 					<form action="/portfolio/<%= project._id %>?_method=DELETE" method="POST">
 						<button>Delete</button>
 					</form>
 					<% } %>
 				</div>
 			</div>
 		</div>
 	</div>
 </div>
</div>































<h2>This is show template</h2>

<a href="/portfolio">Back to Portfolio</a>

<p><%= project.name %> </p>

<img src="<%= project.image %>" alt="test">

<p> <%= project.description %> </p>

<p><a href="/portfolio/<%= project._id %>/comments/new">ADD NEW COMMENT</a></p>

<% project.comments.forEach(function(comment){ %>

<p><strong> <%= comment.author %> </strong> - <%= comment.text %> </p>

<% }); %>

</section>

<% include ../partials/footer %>