 <% include ../partials/header %>

 <section class="section section--project">

 	<div class="project">
 		<div class="project__container">
 			<div class="project__main">
 				<div class="gallery">
 					<div class="gallery__main">
 						<div class="owl-carousel gallery__carousel">
 							<div class="item">
 								<img src="<%= project.image %>" alt="test">
 							</div>
 							<div class="item">
 								<img src="https://via.placeholder.com/1200x800" alt="test">
 							</div>
 							<div class="item">
 								<img src="https://via.placeholder.com/1200x800" alt="test">
 							</div>
 							<div class="item">
 								<img src="https://via.placeholder.com/1200x800" alt="test">
 							</div>
 							<div class="item">
 								<img src="https://via.placeholder.com/1200x800" alt="test">
 							</div>
 							<div class="item">
 								<img src="https://via.placeholder.com/1200x800" alt="test">
 							</div>
 							
 						</div>

 						<div class="gallery__bookmarks">
 							<ul class="gallery__bookmarks__group">
 								<li class="active" data="0">
 									<img src="<%= project.image %>" alt="test">
 								</li>
 								<li data="1">
 									<img src="https://via.placeholder.com/1200x800" alt="test">
 								</li>
 								<li data="2">
 									<img src="https://via.placeholder.com/1200x800" alt="test">
 								</li>
 								<li data="3">
 									<img src="https://via.placeholder.com/1200x800" alt="test">
 								</li>
 								<li data="4">
 									<img src="https://via.placeholder.com/1200x800" alt="test">
 								</li>
 								<li data="5">
 									<img src="https://via.placeholder.com/1200x800" alt="test">
 								</li>
 								
 							</ul>
 						</div>
 					</div>
 				</div>
 				<div class="project__main__info">
 					<h2 class="project__main__info__title"><%= project.name %></h2>
 					<p class="project__main__info__description"><%= project.description %></p>
 				</div>

 				<!-- MOBILE SIDE -->

 				<div class="project__side__info mobile">
 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">More Information</div>
 						<div class="project__side__info__group__container">
 							<ul class="project__side__info__more">
 								<li><span class="icon1"></span>CBS International</li>
 								<li><span class="icon2"></span><%= project.category %></li>
 								<li><span class="icon2"></span><%= moment(project.createdAt).fromNow() %></li>
 								<li><span class="icon2"></span><%= project.author.username %></li>
 							</ul>
 						</div>
 					</div>

 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">Technology</div>
 						<div class="project__side__info__group__container">
 							<ul class="project__side__info__technology">
 								<li>HTML / CSS</li>
 								<li>AdobePhotoshop</li>
 								<li>JavaScript</li>
 								<li>JavaScript</li>
 								<li>JavaScript</li>
 								<li>JavaScript</li>
 							</ul>
 						</div>
 					</div>

 					<div class="project__side__info__group share">
 						<div class="project__side__info__group__title">Share Mob</div>
 						<div class="project__side__info__group__container">
 							<div class="share-link">
 								<input class="share-link__input" type="text" id="copyTarget2" value="<%= currentURL %>"> 
 								<button class="share-link__btn btn btn-small" id="copyButton2">Copy Link<span class="share-link__icon"></span></button>
 							</div>
 							<ul class="project__side__info__share">
 								<a href="https://www.facebook.com/sharer/sharer.php?u=<%= currentURL %>"><li><span class="fb"></span></li></a>
 								<a href="mailto:?&subject=<%= project.name %> Project&body=Visit <%= currentURL %> for more information about <%= project.name %>"><li><span class="mail"></span></li></a>
 								<a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= currentURL %>&title=<%= project.name %>&summary=Visit <%= currentURL %> for more information about <%= project.name %>&source="><li><span class="linkedin"></span></li></a>
 							</ul>
 						</div>
 					</div>

 					<div class="project__side__info__group">
 						<div class="project__side__info__group__title">Similar Projects</div>
 						<div class="project__side__info__group__container">
 							<ul class="project__side__info__similar">
 								<li class="project__similar">
 									<div class="project__similar__image">
 										<img src="https://via.placeholder.com/1200x800" alt="test">
 									</div>
 									<div class="project__similar__info">
 										<h3 class="project__similar__info__title">Project Title 1</h3>
 										<div class="project__similar__info__category">Category</div>
 									</div>
 								</li>
 								<li class="project__similar">
 									<div class="project__similar__image">
 										<img src="https://via.placeholder.com/1200x800" alt="test">
 									</div>
 									<div class="project__similar__info">
 										<h3 class="project__similar__info__title">Project Title 1</h3>
 										<div class="project__similar__info__category">Category</div>
 									</div>
 								</li>
 								<li class="project__similar">
 									<div class="project__similar__image">
 										<img src="https://via.placeholder.com/1200x800" alt="test">
 									</div>
 									<div class="project__similar__info">
 										<h3 class="project__similar__info__title">Project Title 1</h3>
 										<div class="project__similar__info__category">Category</div>
 									</div>
 								</li>
 								<li class="project__similar">
 									<div class="project__similar__image">
 										<img src="https://via.placeholder.com/1200x800" alt="test">
 									</div>
 									<div class="project__similar__info">
 										<h3 class="project__similar__info__title">Project Title 1</h3>
 										<div class="project__similar__info__category">Category</div>
 									</div>
 								</li>
 							</ul>
 						</div>
 					</div>
 				</div>




 				<div class="project__main__comments">
 					<div class="comment">
 						<div class="comment__container">
 							
 							<a href="/portfolio/<%= project._id %>/comments/new" class="comment__btn--new btn btn--main btn--small">Add a new comment</a>
 							<p class="comment__feedback">Please fell free to write a comment regarding <%= project.name %> project. Your feedback and suggestions are highly appreciated.<p>	

 								<ul class="comment__group">
 									<% project.comments.forEach(function(comment){ %>
 									<% var replyCount = 0; %>
 									<li class="comment__item">
 										<div class="comment__image">
 											<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2WRv6HhQL5-eK9Z-8VtkeAP58CzpFUz-FWfmgP3YSbiuj-J_HAw" alt="user image">
 										</div>
 										<div class="comment__info">
 											<!-- <%= comment._id %> -->
 											<div class="comment__info__user"><%= comment.author.username %></div>
 											<p class="comment__info__text"><%= comment.text %></p>
 											<div class="comment__info__date"><%= moment(comment.createdAt).fromNow() %></div>
 											<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>


 											<% } %>
 										</div>
 										<div class="reply">
 											<ul class="reply__group">
 												<% reply.forEach(function(reply){ %>
 												<% if(reply.commentID == comment._id) {%>
 												<% replyCount++ %>
 												
 												<li class="reply__item">
 													<div class="reply__image">
 														<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2WRv6HhQL5-eK9Z-8VtkeAP58CzpFUz-FWfmgP3YSbiuj-J_HAw" alt="user image">
 													</div>
 													<div class="reply__info">
 														<div class="reply__info__user"><%= reply.author.username %></div>
 														<p class="reply__info__text"><%= reply.text %></p>
 														<div class="reply__info__date"><%= moment(reply.createdAt).fromNow() %></div>
 													</div>
 													<div class="reply__footer">
 														<a class="comment__reply-btn" href="/portfolio/<%= project._id %>/comments/<%= comment._id %>/replies/new">REPLY</a>
 														<% if(currentUser && reply.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
 														<a class="comment__edit-btn" href="/portfolio/<%= project._id %>/comments/<%= comment._id %>/replies/<%= reply._id %>/edit">Edit</a>
 														<form class="comment__delete-btn" action="/portfolio/<%= project._id %>/comments/<%= comment._id %>/replies/<%= reply._id %>?_method=DELETE" method="POST">
 															<input type="submit" value="Delete">
 														</form>
 														<% } %>
 													</div>
 												</li>
 												<% } %>
 												<% }); %>
 											</ul>
 										</div>
 										<div class="reply__show__container">
 											<a class="comment__reply-btn" href="/portfolio/<%= project._id %>/comments/<%= comment._id %>/replies/new">REPLY</a>
 											<% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
 											<a class="comment__edit-btn" href="/portfolio/<%= project._id %>/comments/<%= comment._id %>/edit">Edit</a>
 											<form class="comment__delete-btn" action="/portfolio/<%= project._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
 												<input type="submit" value="Delete">
 											</form>
 											<% } %>
 											<% if (replyCount > 0) { %>
 											<div class="reply__show">Show Replies</div>
 											<div class="reply__show__count"> <%=" (" + replyCount + ")"%></div>
 											<% } %>
 										</div>
 										
 									</li> 
 									<% }); %>
 								</ul>
 							</div>
 						</div>
 					</div>
 				</div>


 				<!-- MAIN SIDE -->

 				<div class="project__side main">
 					<div class="project__side__info">
 						<h1 class="project__side__info__title"><%= project.name %></h1>
 						<div class="project__side__info__group">
 							<div class="project__side__info__group__title">More Information</div>
 							<div class="project__side__info__group__container">
 								<ul class="project__side__info__more">
 									<li><span class="icon1"></span>CBS International</li>
 									<li><span class="icon2"></span><%= project.category %></li>
 									<li><span class="icon2"></span><%= moment(project.createdAt).fromNow() %></li>
 									<li><span class="icon2"></span><%= project.author.username %></li>
 								</ul>
 							</div>
 						</div>

 						<div class="project__side__info__group">
 							<div class="project__side__info__group__title">Technology</div>
 							<div class="project__side__info__group__container">
 								<ul class="project__side__info__technology">
 									<li>HTML / CSS</li>
 									<li>AdobePhotoshop</li>
 									<li>JavaScript</li>
 									<li>JavaScript</li>
 									<li>JavaScript</li>
 									<li>JavaScript</li>
 								</ul>
 							</div>
 						</div>

 						<div class="project__side__info__group">
 							<div class="project__side__info__group__title">Share</div>
 							<div class="project__side__info__group__container">
 								<div class="share-link">
 									<input class="share-link__input" type="text" id="copyTarget" value="<%= currentURL %>"> 
 									<button class="share-link__btn btn btn-small" id="copyButton">Copy Link<span class="share-link__icon"></span></button>
 								</div>

 								<ul class="project__side__info__share">
 									<a href="https://www.facebook.com/sharer/sharer.php?u=<%= currentURL %>"><li><span class="fb"></span></li></a>
 									<a href="mailto:?&subject=<%= project.name %> Project&body=Visit <%= currentURL %> for more information about <%= project.name %>"><li><span class="mail"></span></li></a>
 									<a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= currentURL %>&title=<%= project.name %>&summary=Visit <%= currentURL %> for more information about <%= project.name %>&source="><li><span class="linkedin"></span></li></a>
 								</ul>
 							</div>
 						</div>

 						<div class="project__side__info__group">
 							<div class="project__side__info__group__title">Similar Projects</div>
 							<div class="project__side__info__group__container">
 								<ul class="project__side__info__similar">
 									<% var projectCount = 0; %>
 									<% simPro.forEach(function(similar){ %>
 									<% if(!project._id.equals(similar._id)) { %>
 									
 									<% if(projectCount < 4) { %>
 									<% projectCount++; %>
 									<a href="/portfolio/<%= similar._id %>">
 									<li class="project__similar">
 										
 										<div class="project__similar__image">
 											<img src="<%= similar.image %>" alt="test">
 										</div>
 										
 										<div class="project__similar__info">
 											<h3 class="project__similar__info__title"><%= similar.name %></h3>
 											<div class="project__similar__info__category"><%= similar.category %></div>
 										</div>
 									</li>
 									</a>
 									<% } %>
 									
 									<% } %>
 									<% }); %>
 										
 									
 								</ul>
 							</div>
 						</div>
 						<% if(currentUser && project.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
 						<a href="/portfolio/<%= project._id %>/edit">Edit</a>
 						<form action="/portfolio/<%= project._id %>?_method=DELETE" method="POST">
 							<button>Delete</button>
 						</form>
 						<% } %>
 					</div>
 				</div>
 			</div>
 		</div>
 		<div class="popup-message">
 			<div class="popup-message__text">Copied to clipboard</div>
 		</div>
 	</div>
 </div>





</section>

<% include ../partials/footer %>